<% provide(:title, "Pricing | View our pricing") %>
<h1>Pricing</h1>
<p>
  <h2> Coming Soon! </h2>
  <div>
    <table class="center">
      <tr>
        <th>Name</th>
        <th>Subscription Time</th>
        <th>Cost</th>
      </tr>
      <tr>
        <td>Bronze</td>
        <td>Per Card</td>
        <td>$3.99</td>
      </tr>
      <tr>
        <td>Silver</td>
        <td>Monthly</td>
        <td>$19.99</td>
      </tr>
      <tr>
        <td>Gold</td>
        <td>Annually</td>
        <td>$119.99</td>
      </tr>
    </table>

  </div>
</p>
