<footer class="footer">
  <small>
    © Copyright 2015 mailed.com, inc. All rights reserved. Various trademarks held by their respective owners.
  </small>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Careers",   careers_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
